/* Alexis CSS*/

.bg-primary-gradient {
    background-color:
}
  .navbar-brand {
    font-size: 30px !important;

}
.container {
  background-color:;
  font-size: 20px;

}

* {
   font-family: 'Vollkorn SC', serif;
 }
 /* END Alexis CSS*/


.navbar-fixed-left{
	width: 180px;
	position: fixed;
	border-radius: 5px;
	height: 100%;

}
.navbar-mymargin{
	margin-top: 70px;
}

li{
	text-align: center;
}

.myimg {
    /*max-width: 10px;*/
    width: 15px
   
}

.tile{
	margin-top: 55px;
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid rgba(24, 23, 23, 0.08);
	border-radius: 5px;
}

.tile-block{
	/*text-decoration: underline;*/
	background-color: #e6e6e633;
	flex: 1 1 auto;
	padding: 4px;

}

.sub-block{
	padding: 5px;
}

.mb-4{
	margin-bottom: 1.5rem !important;
	padding-left: 10px;
}

canvas{
	display: inline-block;
}