body {
    font-family: 'Vollkorn SC', serif;
    font-size: 22px;
    background-size: 100%;
}

  .navbar-brand {
      font-size: 30px;
  }
body {
  background: url('../images/cwork.jpg') !important;
}
.container {
  border-radius: 10px;
  background: rgb(255, 253, 248) !important;
}
  label.error {
      color: red;
      font-size: 12px;
  }
